.search-form {
  width: 100%;
  margin: 0 auto;
  background-color: teal;
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.gallery {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.photo-card {
  width: 300px;
  height: 400px;
  text-align: center;
  border: 3px solid teal;
  border-radius: 15px;
  overflow: hidden;
}

span {
  margin-right: 5px;
}

a {
  text-decoration: none;
}

b {
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.photo-card img {
  width: 300px;
}

input {
  align-self: center;
  height: 25px;
  border: none;
}
input:focus {
  scale: 1.1;
}

button {
  font-size: small;
  background-color: rgba(255, 255, 255, 0.773);
  border-radius: 15px;
  border: none;
  height: 25px;
}

button:disabled {
  color: transparent;
  background-color: transparent;
  height: 0;
  width: 0;
  transform: translateX(-100%);
  display: inline;
}

.load-more {
  display: block;
  width: fit-content;
  background-color: rgb(92, 92, 198);
  height: 40px;
  font-size: large;
  margin: 0 auto;
}
